<div id="main-menu" class="main-menu">
  <ul style="float: right;">
    {{ range .Site.Home.AllTranslations }}
    <li class="menu-item-{{ .Language }}{{ if eq .Language $.Language }} active{{ end }}">
      <a href="{{ .Permalink }}">
        <span>{{ .Language }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
  </ul>
</div>
